<!DOCTYPE html>
<html>
<head>
<style>
body{
margin:0;
font-family:sans-serif;
background:#e6f7ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:white;
padding:20px;
border-radius:15px;
width:90%;
text-align:center;
}

input,button{
width:100%;
padding:12px;
margin:8px 0;
border-radius:10px;
border:1px solid #ccc;
}

button{
background:skyblue;
border:none;
font-weight:bold;
}
</style>
</head>
<body>

<div class="box">

<h2>Login</h2>

<form method="POST" action="/login">
<input name="name" placeholder="Name" required>
<input name="phone" placeholder="Phone Number" required>
<button type="submit">Login</button>
</form>

<a href="/skip">
<button style="background:lightgray">Skip</button>
</a>

</div>

</body>
</html>