<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{background:#e6f7ff;font-family:sans-serif;text-align:center}
.box{margin-top:100px}
input,button{width:80%;padding:12px;margin:10px;border-radius:10px}
button{background:skyblue;border:none}
</style>
</head>
<body>

<div class="box">
<h2>Login</h2>

<form method="POST" action="/login">
<input name="name" placeholder="Name" required>
<input name="phone" placeholder="Phone" required>
<button>Login</button>
</form>

<a href="/skip"><button>Skip</button></a>

</div>

</body>
</html>